* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
}

ul {
  list-style-image: url("/images/listIcon.png");
  font-size: 25px;
  opacity: 76%;
}

ul li > a {
  color: red;
  font-weight: bold;
  text-decoration: none;
  transition: all 300ms ease-out;
}

ul li > a:hover {
  font-size: 27px;
  color: green;
}

header > nav {
  margin: 55px 0px 32px 40px;
}

main {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  border-top: 2px dotted red;
  border-bottom: 2px dotted red;
}

footer > section {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: small;
}

header,
main,
footer {
  width: 81vw;
  margin: 0 auto;
}

footer > section {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer > section p {
  font-size: 16px;
}

footer {
  margin-top: 15px;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82vw;
  border: 3px solid red;
  border-radius: 50px 0px 50px 0px;
  background-color: rgb(255, 188, 55);
}

span {
  color: red;
  font-weight: bold;
  font-style: italic;
}

article div > h2,
article div > p {
  margin: 20px 20px;
}

.logo {
  display: block;
  margin-bottom: 20px;
}

.bang {
  width: 200px;
}

.bron > a {
  color: black;
  text-decoration: underline dotted;
}

.image {
  margin: 20px 0px 20px 20px;
  width: 180px;
}

.eight-man {
  text-decoration: underline wavy red;
}

.stardust-img {
  float: left;
}