* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: azure;
  background-color: #181818;
}

main {
  width: 50vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1,
h2 {
  margin: 15px;
  text-align: center;
}

h1,
h2,
th,
td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table,
th,
td {
  border: 2px solid azure;
  font-size: large;
}

.head,
td {
  width: 75px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.table-4 tr:hover {
  background-color: #808080;
}
