@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: "Montserrat", sans-serif;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  font-size: large;
  width: 140px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  background: black;
  transition: all 300ms ease-out;
}

a:hover {
  transform: scale(1.1);
  background-color: seagreen;
  color: antiquewhite;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

main {
  max-width: 50%;
  min-width: 800px;
  margin: 0 auto;
}

main > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin: 5px;
  border: 2px dashed;
}

div > div {
  width: 33%;
  height: 100px;
  background-color: yellow;
}

div > div:first-child {
  background-color: black;
}

div > div:last-child {
  background-color: red;
}

.title {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 50px;
  font-family: "Rubik", sans-serif;
  font-size: 35px;
}
